.footer p {
  height: 70px;
  background-color: #e9ecef;
}

.btn-games {
  padding-top: 40px;
}

.btn-games button {
  margin-left: 5px;
}

body {
  background: #115566
}

.game .row .card {
  margin-left: 5px;
  margin-top: 5px;
}